certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
clarifai==2.6.2
click==8.0.1 
DateTime==4.3
decorator==4.4.2
fake-useragent==0.1.11
future==0.18.2
gunicorn==20.1.0
ipykernel==5.4.0
ipython==7.19.0
itsdangerous==2.0.1 
ipython-genutils==0.2.0
isort==5.6.3
itsdangerous==2.0.1
jsonschema==2.6.0
pefile==2019.4.18
pyOpenSSL==19.1.0
pyparsing==2.4.7
SQLAlchemy==1.4.17
threadpoolctl==2.1.0
gspread==4.0.1
streamlit==0.89.0
plotly==5.3.1
pandas==1.3.3
numpy==1.21.2
Pillow==8.3.2
sklearn
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
